<html>
    <head>
        <h1>These are Our Enemies</h1>
    </head>
    <body>
        <p>Witness our great cretions!</p>
        <table border="100">
            <tr>
                <td><p>Speed:</p></td>
                <td><p>{{ speed }}</p></td>
            </tr>
            <tr>
                <td><p>Health:</p></td>
                <td><p>{{ health }}</p></td>
            </tr>
            <tr>
                <td><p>DMG:</p></td>
                <td><p>{{ damage }}</p></td>
            </tr>

        </table>
    </body>
</html>