
<html>
    <head>
        {% load static %}
    </head>
    <body>
        <p style = "color:cornsilk; position:relative; top:280px; font-size: 200%">Hello There, I am The ONE and ONI</p>
        <p style = "color:cornsilk; position:relative; top:280px; font-size: 200%">         ARATAKI ITTO!</p>
        <p style = "color:cornsilk; position:relative; top:280px; font-size: 200%"><a href="{% url 'enemies' %}">Come with me :D</a></p>
        <p style = "color:coral; position:relative; top:280px; font-size: 200%">__________________________</p>
        <img  width="1200px" src="{% static 'IttoHand.png' %}">

    </body>
</html>